* {
  font-family: "SF Pro Display", sans-serif;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #D9D9D9;
  }

  a {
    text-decoration: none;
    color: inherit;
  }


  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    width: 80px;
    height: 80px;
  }
  
  .search-bar {
    width: 400px;
    height: 24px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-right: 1rem;
  }
  
  .nav-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-items li {
    margin-right: 4rem;
  }
  
  .nav-items a {
    text-decoration: none;
    color: #333;
  }
  
  .profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
  }