@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: poppins;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #D9D9D9;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 80px;
    height: 80px;
}

.search-bar {
    width: 400px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin-right: 1rem;
}

.nav-items {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-items li {
    margin-right: 2rem;
}

.nav-items a {
    text-decoration: none;
    color: #333;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

main {
    display: flex;
    padding: 1rem;
    margin-left: 40px;
    margin-right: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin-right: 40px;

}

.profile-container {
    position: relative;
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 24px;
}

.profile-container img.left-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.profile-container .left-profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

.profile-container h1 {
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 0px;
    color: #333;
    font-size: 2.5rem;
}

.profile-container h3{
    margin-top: 0px;
}



.profile-container h3,
.profile-container p {
    margin-left: 40px;
    color: #333;
}

.profile-container button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    color: white;
    margin-left: 40px;
    background-color: #dc444b;
    margin-bottom: 20px;
    font-weight: bold;
    border: none;
}

.profile-container button:hover{
    background-color: white;
    color: #dc444b;
    border: #333 solid;
}

.about-container,
.skills-container,
.posts-container {
    margin-top: 20px;
    position: relative;
    flex: 1;
    padding: 10px 40px;
    background-color: #fff;
    border-radius: 24px;
    padding-bottom: 20px;
}

.about-container p {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 12px;
}

.skill-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid #333;
    padding: 10px;
}

.skill-container .company-pic1,
.skill-container .company-pic2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover;
}

.skill-container .company-pic1 {
    background-image: url('google.png');
}

.skill-container .company-pic2 {
    background-image: url('spotify.png');
}

.skill-container .skill-info {
    flex: 1;
}

.skill-container .skill-info .skill-name {
    font-weight: bold;
    margin-bottom: 4px;
}

.skill-container .skill-info .skill-experience {
    color: #555;
    font-size: 0.9rem;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 20px;
    margin-left: 30px;
    text-align: center;
}

.profile-pic-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('profile-pic.jpeg');
    background-size: cover;
    margin-right: 10px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.publish-date {
    color: #aaa;
    font-size: 0.8rem;
}

.post-container {
    flex: 3;
    background-color: #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.image-area {
    position: relative;
    width: 800px;
    height: 450px;
    overflow: hidden;
    margin-left: 30px;
}

.post-container img.center-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.social-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.social-buttons button {
    flex-grow: 1;
    background-color: #eee;
    border: 1px solid #ddd;
    height: 48px;
    font-size: 0.9rem;
    cursor: pointer;
}

.like-button {
    border-bottom-left-radius: 12px;
}

.share-button {
    border-bottom-right-radius: 12px;
}

.right-container {
    flex: 1;
    margin-left: 20px;
}

.people-viewed,
.notifications {
    border: 1px solid #ddd;
    padding: 0 20px 10px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color: #fff;
}

.user-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid #333;
    padding: 10px;
}

.user-container .user-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-image: url('profile-pic.jpeg');
    background-size: cover;
}

.user-container .user-info {
    flex: 1;
}

.user-container .user-info .user-name {
    font-weight: bold;
    margin-bottom: 4px;
}

.user-container .user-info .user-designation {
    color: #555;
    font-size: 0.9rem;
}

.user-container .icon {
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 12px;
    padding: 10px;
    background-color: #ccc;
}